{
  "core": {
    "use_monster_k": 1,
    "track.evtblock.util": 120
  },

  "trace_policy": {
    "process_image_name": {
      "include": [],
      "exclude": [
        "procexp.exe",
        "procexp64.exe",
        "taskmgr.exe",
        "dbgview.exe",
        "procmon.exe",
        "procmon64.exe",
        "btool.exe",
        "splunk",
        "\\Windows\\SysWOW64\\Macromed\\Flash\\FlashPlayerUpdateService.exe",
        "\\Program Files (x86)\\Common Files\\Adobe\\ARM\\1.0\\AdobeARM.exe",
        "\\Program Files (x86)\\Common Files\\Adobe\\ARM\\1.0\\armsvc.exe",
        "\\Program Files (x86)\\Adobe\\Acrobat DC\\Acrobat\\AdobeCollabSync.exe",
        "\\Program Files (x86)\\Common Files\\Adobe\\Adobe Desktop Common\\HEX\\Adobe CEF Helper.exe",
        "\\Program Files (x86)\\Common Files\\Adobe\\AdobeGCClient\\AdobeGCClient.exe",
        "\\Program Files (x86)\\Common Files\\AAdobe\\OOBE\\PDApp\\P6\\adobe_licutil.exe",
        "\\Program Files (x86)\\Common Files\\AAdobe\\OOBE\\PDApp\\P7\\adobe_licutil.exe",
        "\\Program Files (x86)\\Common Files\\Adobe\\OOBE\\PDApp\\UWA\\updaterstartuputility.exe",
        "\\Program Files (x86)\\CAdobe\\Adobe Creative Cloud\\ACC\\Creative Cloud.exe",
        "\\Program Files (x86)\\Dropbox\\Update\\DropboxUpdate.exe"
      ]
    },

    "file_path": {
      "include": [],
      "exclude": [
          "\\Windows\\System32\\DriverStore\\Temp\\",
          "\\Windows\\System32\\wbem\\Performance\\",
          "\\$WINDOWS.~BT\\Sources\\SafeOS\\SafeOS.Mount\\",
          "WRITABLE.TST"
       ]
    },

    "file_ext": {
      "include": [
        "txt",
        "application",
        "appref-ms",
        "bat",
        "cmd",
        "cmdline",
        "docm",
        "exe",
        "hta",
        "pptm",
        "ps1",
        "sys",
        "vbs",
        "xlsm",
        "msr",
        "mcr"
      ],
      "exclude": []
    },

    "registry_key": {
      "include": [],
      "exclude": []
    },

    "net_target_ip": {
      "include": [],
      "exclude": [
        "104.43.195.251",
        "104.40.211.35",
        "23.100.122.175",
        "23.96.52.53",
        "191.239.213.197"
      ]
    },

    "net_target_port": {
      "include": [],
      "exclude": []
    }
  },

  "export": {
    "tsv": {
      "enabled": 1
    },

    "kafka": {
      "enabled": 0,
      "servers": "localhost",
      "topic": "monster",
      "acks": "0",
      "codec": "lz4",
      "partition": -1,
      "retries": 3,
      "max_msg_queue": 1000000
    },

    "syslog": {
      "enabled": 0,
      "server": "localhost",
      "port": 514
    }
  }
}
